.book-description-container {
  display: flex;
  padding: 20px;
  background-color: #d9d9d9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  border-radius: 8px;
}

.book-image {
  flex: 0 0 20%;  
  margin-right: 20px; 
}

.book-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.book-details {
  flex-grow: 1;
}

.book-details h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.author, .genres, .availability, .location {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.buttons {
  margin-top: 20px;
}

.borrow-button, .threads-button {
  padding: 15px 30px;
  font-size: 18px;
  margin-right: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.borrow-button:hover, .threads-button:hover {
  background-color: #45a049;
}

.description {
  margin-top: 20px;
}

.description h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.description p {
  font-size: 1.2rem;
  line-height: 1.6;
}